<form [formGroup]="form">
  <formly-form [model]="model" [fields]="workingFields" [options]="options" [form]="form"></formly-form>

  <div class="toolbar">
    <button type=button class="btn btn-primary" (click)="changeOrientation('display-flex-row')">Row</button>

    <button type=button class="btn btn-primary" (click)="changeOrientation('display-flex-col')">Col</button>
  </div>
</form>


<!-- Copyright 2021 Formly. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at https://github.com/ngx-formly/ngx-formly/blob/main/LICENSE -->